<div class="container-general">
  <div class="container-languages">
    <h1>Choose your languages</h1>
      <p>I know</p>

      <p>I want to learn</p>
  </div>

  <div class="btn-container">
    <a href="#" class="btn-general"> LET'S GO!</a>
  </div>
</div>
